*.class
*.jar
*.war
*.ear
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.springBeans
.loadpath
*.launch
target/
/bin
deliveryrouter.mv.db